@page "/editarcliente"
@inject IGenericService<Cliente> ClienteService
@inject IGenericService<Localidad> LocalidadService
@inject SweetAlertService SweetAlert
@inject NavigationManager NavigationManager

<HeaderPage TitlePage="Editando un Cliente" />

@if (cliente == null)
{
    <p><em>Obteniendo cliente seleccionado...</em></p>
}
else
{
    <EditForm Model="cliente" OnValidSubmit="Guardar">
        <DataAnnotationsValidator />

        <div class="form-group">
            <label for="Nombre">Nombre</label>
            <InputText id="Nombre" class="form-control" @bind-Value="cliente.Nombre" />
        </div>

        <div class="form-group">
            <label for="Direccion">Dirección</label>
            <InputText id="Direccion" class="form-control" @bind-Value="cliente.Direccion" />
        </div>

        <div class="form-group">
            <label for="Telefono">Teléfono</label>
            <InputText id="Telefono" class="form-control" @bind-Value="cliente.Telefonos" />
        </div>

        <div class="form-group">
            <label for="Localidad">Localidad</label>
            <InputSelect id="Localidad" class="form-control" @bind-Value="cliente.LocalidadId">
                @foreach (var localidad in localidades)
                {
                    <option value="@localidad.Id">@localidad.Nombre</option>
                }
            </InputSelect>
        </div>

        <button type="submit" class="btn btn-primary">Guardar</button>

        <ValidationSummary />
    </EditForm>
}

@code {

    [SupplyParameterFromQuery]
    [Parameter]
    public int IdClienteEditado { get; set; }

    private Cliente? cliente;
    private List<Localidad> localidades;

    protected override async Task OnInitializedAsync()
    {
        cliente = await ClienteService.GetByIdAsync(IdClienteEditado);
        localidades = await LocalidadService.GetAllAsync();
    }

    private async Task Guardar()
    {
        if(cliente.LocalidadId == 0)
        {
            await SweetAlert.FireAsync("Advertencia", "Error", SweetAlertIcon.Warning);
            return;
        }

        if(IdClienteEditado == null)
        {
            await ClienteService.AddAsync(cliente);
            NavigationManager.NavigateTo("/clientes");
        }
        else
        {
            await ClienteService.UpdateAsync(cliente);
            NavigationManager.NavigateTo("/clientes");
        }
    }
}
